body {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #faf8f2;
  overflow-y: auto; /* allows vertical scrolling */
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: goldenrod;
}

h1,
.start-reset-btn {
  font-family: "Nunito", "Segoe UI", Tahoma, sans-serif;
}

.game-board {
  background-color: #e7d79c;
  border: 3px solid #e7d79c;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  max-width: 960px; /* Cap width of the board */
  width: 80%;
  margin: 10px auto; /* Center the board */
}

.category-row {
  display: contents;
}

.category {
  font-family: "Nunito", "Segoe UI", Tahoma, sans-serif;
  background-color: #145385;
  text-align: center;
  font-weight: bold;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-row {
  display: contents;
}

.question {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.9rem;
  background-color: #2173a1;
  text-align: center;
  font-weight: bold;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question:hover {
  background-color: #0c4b7e;
}

.game-board .category h2,
.game-board .question span {
  margin: 10px; /* Default margin for larger screens */
  display: block; /* Convert inline elements to block for applying margins */
}

.category,
.question {
  color: #bdb76b;
}

.start-reset-btn {
  color: goldenrod;
  background-color: #145385;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase; /* Make text uppercase for better visibility */
  letter-spacing: 1px; /* Slight spacing between letters for legibility */
  font-size: 1rem;
}

.start-reset-btn:hover {
  background-color: #0c4b7e;
}

/* Adjustments for medium to medium big screens */
@media (max-width: 960px) {
  .game-board {
    max-width: 80vw;
  }

  .category {
    height: 14vw; /* Adjust for smaller screens */
  }

  .question {
    font-size: 0.8rem;
    height: 14vw; /* Adjust for smaller screens */
  }

  .game-board .category h2,
  .game-board .question span {
    margin: 8px; /* Slightly reduced margin */
  }
}

@media (max-width: 700px) {
  .category {
    font-size: 0.7rem;
  }

  .question {
    font-size: 0.6rem;
  }

  .game-board .category h2,
  .game-board .question span {
    margin: 6px; /* Further reduced margin */
  }
}

/* Adjustments for small screens */
@media (max-width: 600px) {
  .game-board {
    max-width: 90vw;
  }

  .category {
    font-size: 0.6rem;
    height: 15vw; /* Adjust for smaller screens */
  }

  .question {
    /* font-size: 0.8rem; */
    font-size: 0.55rem;
    font-weight: 600;
    height: 15vw; /* Adjust for smaller screens */
  }

  .game-board .category h2,
  .game-board .question span {
    margin: 5px; /* Even smaller margin for small screens */
  }

  .start-reset-btn {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}

@media (max-width: 400px) {
  .category {
    height: 16vw; /* Adjust for smaller screens */
  }

  .question {
    font-size: 0.5rem;
    font-weight: 500;
    height: 16vw; /* Adjust for very small screens */
  }

  .game-board .category h2,
  .game-board .question span {
    margin: 3px; /* Minimal margin for very small screens */
  }

  .start-reset-btn {
    font-size: 0.7rem;
    padding: 6px 14px;
  }
}
