body {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #393d67;
  overflow-y: auto; /* allows vertical scrolling */
}

h1 {
  text-align: center;
  margin: 5px 0;
  color: goldenrod;
}

h1,
.start-reset-btn {
  font-family: "Nunito", "Segoe UI", Tahoma, sans-serif;
}

.game-board {
  background-color: #e7d79c;
  border: 3px solid #e7d79c;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  max-width: 990px; /* Cap width of the board */
  width: 80%;
  margin: 2px auto; /* Center the board */
}

.category-row {
  display: contents;
}

.category {
  font-family: "Nunito", "Segoe UI", Tahoma, sans-serif;
  font-size: 1rem;
  background-color: #145385;
  text-align: center;
  font-weight: bold;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.clue-row {
  display: contents;
}

.card {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.9rem;
  background-color: #2173a1;
  text-align: center;
  font-weight: bold;
  min-height: 136px;
  height: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.card.inactive {
  background-color: #145385;
  cursor: default;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.card.active {
  transition: background-color 0.3s ease;
  cursor: pointer;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.card.active:hover {
  color: white;
  background-color: goldenrod;
}

.game-board .category h2,
.game-board .card span {
  margin: 10px; /* Default margin for larger screens */
  display: block; /* Convert inline elements to block for applying margins */
}

.category,
.card {
  color: #bdb76b;
}

.hidden-clue span {
  font-size: 2rem;
}

.start-reset-btn {
  color: goldenrod;
  background-color: #145385;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.start-reset-btn:hover {
  background-color: #0c4b7e;
}

/* Adjustments for medium to medium big screens */
@media (max-width: 990px) {
  .game-board {
    max-width: 80vw;
  }

  .category {
    height: 14vw; /* Adjust for smaller screens */
  }

  .card {
    font-size: 0.8rem;
    min-height: 14vw;
    padding: 4px;
  }

  .game-board .category h2,
  .game-board .card span {
    margin: 8px; /* Slightly reduced margin */
  }

  .hidden-clue span {
    font-size: 1.7rem;
  }
}

@media (max-width: 700px) {
  .category {
    font-size: 0.7rem;
  }

  .card {
    font-size: 0.6rem;
  }

  .game-board .category h2,
  .game-board .card span {
    margin: 6px; /* Further reduced margin */
  }

  .hidden-clue span {
    font-size: 1.5rem;
  }
}

/* Adjustments for small screens */
@media (max-width: 600px) {
  .game-board {
    max-width: 90vw;
  }

  .category {
    font-size: 0.6rem;
    height: 15vw; /* Adjust for smaller screens */
  }

  .card {
    /* font-size: 0.8rem; */
    font-size: 0.47rem;
    font-weight: 700;
    min-height: 15vw;
    padding: 4px;
  }

  .game-board .category h2,
  .game-board .card span {
    margin: 5px; /* Even smaller margin for small screens */
  }

  .start-reset-btn {
    font-size: 0.8rem;
    padding: 8px 16px;
  }

  .hidden-clue span {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .category {
    height: 16vw; /* Adjust for smaller screens */
  }

  .card {
    font-size: 0.4rem;
    font-weight: 700;
    min-height: 16vw;
    padding: 4px;
  }

  .game-board .category h2,
  .game-board .card span {
    margin: 3px; /* Minimal margin for very small screens */
  }

  .start-reset-btn {
    font-size: 0.8rem;
    padding: 6px 14px;
  }

  .hidden-clue span {
    font-size: 0.9rem;
  }
}
